root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{kt,kts}]
ktlint_code_style = intellij_idea
max_line_length = 120
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true
# 테스트 메서드의 백틱 한글 이름 허용
ktlint_standard_function-naming = disabled

[*.{yml,yaml,json}]
indent_size = 2
